$info_bg: rgb(207, 247, 204);
$info_border: rgb(153, 226, 148);
$common_bg: rgb(228, 208, 240);
$common_border: rgb(201, 142, 235);
$in-progress_bg: rgb(228, 228, 228);
$done_bg: rgb(184, 214, 241);
$done_border: rgb(154, 191, 228);
$in-progress_border: rgb(164, 164, 164);
$field_bg: rgb(251, 251, 251);
$cards_border: rgb(220, 215, 215);
$edit_bg: rgb(222, 129, 129);
$edit_border: rgb(246, 78, 78);
$dragging_border: rgb(250, 252, 97);
